
body {background-image: url(../Imagenes/ocean-3605547_1280.jpg);
background-position: center center;
background-attachment: fixed;
background-size: cover;
}
h1 {background: black;
color:blue;
width:500px;}